S3method(ROCtest,glm)
S3method(ROCtest,train)
export(ROCtest)
export(dfExtract)
export(modAcc)
export(modSearch)
export(multimodeltest)
exportClasses(ROCit)
S3method(summary, ROCit)
S3method(print, ROCit)
